---
// css & fonts
import "@fontsource/abril-fatface"
import "@fontsource/poppins"
import "@fontsource-variable/pixelify-sans"

// components
import Nav from "@/components/Nav.astro"
import BaseHead from "./BaseHead.astro"
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <Nav />
    <main>
      <slot />
    </main>
  </body>
</html>
