---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Container from "@/layouts/Container.astro"
---

<BaseLayout title="home" description="portfolio">
  <Container>
    <h1 class="text-5xl font-display">Stephen Kiiyuru</h1>
  </Container>
</BaseLayout>
