---
import { Image } from "astro:assets"

import ButtonLink from "@/components/ui/ButtonLink.astro"
import Heading from "@/components/ui/Heading.astro"

import smile from "@/assets/smile.png"
import Container from "@/layouts/Container.astro"
---

<Container>
  <header
    aria-label="Introduction to Stephen"
    class="flex flex-col gap-4 items-center py-10"
  >
    <Image
      src={smile}
      alt="smile"
      format="avif"
      class="size-48 text-zinc-950"
    />
    <Heading tagName="h1">Are you lost?</Heading>
    <p class="text-center md:w-4/5 lg:w-2/5">
      Oops! The page you are looking for seems to have wandered off. Please try
      again or visit my home page for more information.
    </p>
    <div class="flex gap-4">
      <ButtonLink href={"/"}>Go Home</ButtonLink>
      <ButtonLink href={"#contact-form"} variant="secondary"
        >Let's Connect</ButtonLink
      >
    </div>
  </header>
</Container>
